$lightBackground: #fff;
$middleBackground: #f0f0f0;
$darkBackground: #5a5a5a;

$littlePadding: 5%;
$middlePadding: 10%;

$lightColor: #9b9b9b;
$darkColor: #323232;

$headerHeight: 50px;

$iconWidth: 50px;

%messenger-page-header {
  display: grid;
  color: $lightColor;
  background-color: $lightBackground;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $lightBackground;
}

.wrapper {
  width: 100vw;
  height: 100vh;
}

.main {
  width: 100%;
  height: 100%;
}

.messenger-page {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 30% 1fr;
  @media (max-width: 1600px) {
    grid-template-columns: 400px 1fr;
  }
}

.list-dialog-block {
  display: grid;
  grid-template-rows: $headerHeight 1fr;
  max-height: 100vh;
  .list-dialog-block_header {
    @extend %messenger-page-header;
    grid-template-columns: $middlePadding 1fr;
    justify-items: center;
    align-items: center;
    .menu-icon {
      cursor: pointer;
    }
    .search-input {
      background-color: $middleBackground;
      border-radius: 5px;
      width: 98%;
      padding-left: $littlePadding;
      justify-self: start;
    }
  }
  .list-dialog-block_main {
    overflow-y: auto;
  }
}

.user-card {
  display: grid;
  grid-template-columns: 70px 1fr;
  cursor: pointer;
  &:hover {
    background-color: $middleBackground;
  }
  .user-card__avatar-container {
    margin: 0 10px;
    width: 70px;
    display: grid;
    justify-items: center;
    align-items: center;
  }
  .user-card__information-container {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    width: 100%;
    margin: 5px 0;
    overflow: hidden;
    .user-card__header {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 60px;
      .user-card__name {
        overflow: hidden;
        margin-right: 10px;
      }
    }
    .user-card__text {
      overflow: hidden;
    }
  }
}

.user-card_current {
  background-color: $middleBackground;
}

.window-dialog-block {
  background-image: url('./assets/img/backgrounForTelegram.jpg');
  background-size: cover;
  display: grid;

  .window-dialog-block__start-window {
    height: 30px;
    width: 300px;
    border-radius: 15px;
    display: grid;
    justify-self: center;
    text-align: center;
    align-self: center;
    background-color: $middleBackground;
    @media (max-width: 800px) {
      width: 100%;
      background-color: inherit;
    }

    .text-select-chat {
      display: grid;
      align-items: center;
      color: $lightColor;
    }
  }

  %header-window-dialog-block__header-information_common {
    height: 100%;
    line-height: inherit;
    display: grid;
    align-content: center;
  }

  %window-dialog-block__current-dialog-information_common {
    .window-dialog-block__header {
      padding: 0 0 0 20px;
      border-left: 1px solid $middleBackground;
      border-bottom: 1px solid $middleBackground;
      @extend %messenger-page-header;
      grid-template-columns: 1fr $iconWidth*3;

      .window-dialog-block__header-information {
        height: 100%;
        display: grid;
        grid-template-rows: 25px 24px;

        .window-dialog-block__header-information-name {
          @extend %header-window-dialog-block__header-information_common;
          color: $darkColor;
          font-weight: bold;
        }

        .window-dialog-block__header-information-members {
          @extend %header-window-dialog-block__header-information_common;
        }
      }

      .window-dialog-block__header-menu {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        align-items: center;

        svg {
          cursor: pointer;
        }
      }
    }

    .window-dialog-block__main {
      overflow-x: hidden;
      overflow-y: auto;

      .message-card {
        display: block;
        min-width: 200px;
        width: max-content;
        min-height: 50px;
        height: max-content;
        border-radius: 10px;
        background-color: $lightBackground;
        text-align: left;
        padding: 10px;
        margin: 20px;
        .message-card__header {
          display: grid;
          grid-template-columns: 1fr $iconWidth;
          .message-card__header-reply {
            justify-self: end;
            color: $lightColor;
            display: none;
          }
        }
        &:hover {
          .message-card__header-reply {
            display: grid;
            cursor: pointer;
          }
        }
        .message-card__header-text {

        }
      }
    }

    .window-dialog-block__message-field {
      @extend %messenger-page-header;
      grid-template-columns: $iconWidth 1fr $iconWidth*3;
      justify-items: center;
      align-items: center;
      border-left: 1px solid $middleBackground;
      border-top: 1px solid $middleBackground;

      .message-input {
        width: 100%;
        justify-self: start;
      }

      svg {
        cursor: pointer;
      }

      .additional-message-block {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
      }
    }
  }

  .window-dialog-block__current-dialog-information {
    display: grid;
    grid-template-rows: $headerHeight 1fr $headerHeight;
    @extend  %window-dialog-block__current-dialog-information_common;
  }

  .window-dialog-block__current-dialog-information_reply {
    display: grid;
    grid-template-rows: $headerHeight 1fr $headerHeight $headerHeight;
    @extend  %window-dialog-block__current-dialog-information_common;
    .window-dialog-block__reply {
      background-color: $lightBackground;
      display: grid;
      grid-template-columns: $iconWidth 1fr $iconWidth;
      align-items: center;
      svg {
        justify-self: center;
        cursor: pointer;
      }
      %reply-message {
        line-height: inherit;
        display: grid;
        align-items: center;
      }

      .window-dialog-block__reply-message {
        display: grid;
        grid-template-rows: repeat(2, 25px);
        .window-dialog-block__reply-message-name {
          @extend %reply-message;
          font-weight: bold;
        }
        .window-dialog-block__reply-message-text {
          @extend %reply-message
        }
      }
      .window-dialog-block__reply-close {
        display: grid;
        align-items: center;
        justify-items: center;
      }
    }
  }
}

